*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right bottom, rgb(155,240,255), rgb(155,54,146));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: white;
    height: 330px;
    width: 400px;
}

#x{
    float: right;
    font-size: 30px;
    margin-right: 10px;
}

#titulo{  
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 30px;
}

#email{
    margin: 10px;
    height: 40px;
    
}

#senha{
    margin: 10px;
    height: 40px;
}

.forgot{
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    color: rgb(22, 74, 247);
}

#submit{
    width: 95%;
    margin: 10px;
    height: 9%;
    background: linear-gradient(to right top, rgb(155,240,255), rgb(155,54,146));
    color: white;
    font-size: 20px;
    border: none;
}

#sign{
 text-align: center;
 padding-top: 20px;
}

#sign a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(22, 74, 247);
}

.box{
    width: 380px;
    height: 28px;
}